
@font-face {
  font-family: FontAwesome;
  /* Имя шрифта */
  src: url(fonts/fontawesome-webfont.woff);
  /* Путь к файлу со шрифтом */
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

input:invalid {
  background-color: #ffdddd;
}

select:invalid {
  background-color: #ffdddd;
}
	.task-table td {
    vertical-align: middle;
	}