
@font-face {
  font-family: FontAwesome;
  /* Имя шрифта */
  src: url(fonts/fontawesome-webfont.woff);
  /* Путь к файлу со шрифтом */
}

.wrapper {
  width: 1140px;
	margin: 0 auto;
}

input:invalid {
	background-color: #ffdddd;
}

select:invalid {
	background-color: #ffdddd;
}
.task-table td {
	vertical-align: middle;
}
select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(dropdown.ico) right / 20px no-repeat #fff;
        padding-right: 20px;
}
